# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Ignore env yml file
env.yml

# Ignore .vs folder
.vs

# Ignore config.json file
config.json

# Ignore output of typescript files
dist